@font-face {
    font-family: 'Circe';
    src: url('./fonts/Circe-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('./fonts/Circe-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('./fonts/Circe-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('./fonts/Circe-ExtraBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

* {
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    background-color: #141414;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    font-family: Manrope;
    font-weight: 700;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
}

header div {
    display: flex;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 33px;
}

.header__logo {
    margin-right: 28px;
}

.header__text,
.header__link {
    font-family: Manrope;
    font-weight: 700;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #191919;
    border-radius: 20px;
    border: 2px solid #404040;
    margin-bottom: 61px;
}

.nav__link,
.dropdown__toggle {
    font-family: Manrope;
    font-weight: 700;
    font-style: Bold;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: 0%;
    padding: 12px 0;
}

.nav__link-active {
    background-color: #2cb67d61;
    padding: 7px 20px;
    border-radius: 100px;
}

.dropdown__list {
    display: none;
}

.hero {
    background-image: url('./images/hero\ bg.svg');
    background-repeat: no-repeat;
}

.home__wrapper {
    display: flex;
    position: relative;
    margin-top: 70px;
}

.home__title {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 50px;
    line-height: 139%;
    letter-spacing: 3%;
    margin-bottom: 51px;
    max-width: 750px;
}

.home__highlight--purple {
    color: #7F5AF0;
}

.home__highlight--green {
    color: #2CB67D;
}

.home__text {
    font-family: Circe;
    font-weight: 500;
    font-size: 24px;
    line-height: 167%;
    letter-spacing: 0px;
    margin-bottom: 73px;
    max-width: 500px;
}

.home__link {
    display: inline-block;
    background-color: #7F5AF0;
    padding: 22px 44px;
    font-family: Circe;
    font-weight: 500;
    font-style: Bold;
    font-size: 24px;
    line-height: 160%;
    letter-spacing: 0px;
    border-radius: 100px;
}

.home__visual img {
    position: absolute;
    top: -7%;
    right: -6.5%;
}

.stats-bar {
    border: 1px solid #404040;
    border-radius: 20px;
    padding: 10px;
}

.stats-bar__wrapper {
    display: flex;
    background-color: #191919;
    border-radius: 20px;
    padding: 10px 27px;
}

.stats-bar__item {
    display: flex;
    align-items: center;
    gap: 13px;
}

.stats-bar__number span {
    background-color: #262626;
    padding: 12px 6px;
    border-radius: 7px;
    font-size: 34px;
}

.stats-bar__text {
    font-family: Circe;
    font-weight: 400;
    font-style: Regular;
    font-size: 17px;
    line-height: 160%;
    letter-spacing: 0px;
}

.issues__title{
    font-family: Inter;
font-weight: 700;
font-style: Bold;
font-size: 45px;
color: #FFFFFF;
line-height: 130%;
letter-spacing: 3%;


}
.issues__span{
font-family: Inter;
font-weight: 700;
font-style: Bold;
font-size: 45px;

line-height: 130%;
letter-spacing: 3%;
color: #2CB67D;
}
.issues{
    margin-top: 50px;
}
.buttons{

display: grid;
grid-template-columns: auto auto auto auto;

margin-top: 20px;
align-items: center;
text-align: center;

}
.button1{
    font-family: Inter;
font-weight: 700;
font-style: Bold;
font-size: 18px;
padding: 10px;

line-height: 120%;
letter-spacing: 3%;
border: 1px solid #FFFFFF ;
    width: 250px;


background-color: #2CB67D;

border-radius: 25px;

}
.button2{
        font-family: Inter;
font-weight: 700;
font-style: Bold;
font-size: 18px;
padding: 10px;

line-height: 120%;
letter-spacing: 3%;
border: 1px solid #7F5AF0 ;
    width: 250px;
background-color: #141414;
border-radius: 25px;
}.button3{
font-family: Inter;
font-weight: 700;
font-style: Bold;
font-size: 18px;
padding: 10px;

line-height: 120%;
letter-spacing: 3%;
border: 1px solid #7F5AF0 ;
    width: 250px;
background-color: #141414;
border-radius: 25px;
}.button4{
        font-family: Inter;
font-weight: 700;
font-style: Bold;
font-size: 18px;
padding: 10px;

line-height: 120%;
letter-spacing: 3%;
border: 1px solid #7F5AF0 ;
    width: 250px;
background-color: #141414;
border-radius: 25px;
}
.sale{
    display: flex;
justify-content: space-around;
    margin-top: 70px;
}
.sale__title{
    font-family: Inter;
font-weight: 500;
font-style: Medium;
font-size: 35px;

line-height: 130%;
letter-spacing: 3%;
width: 376px;
height: 90;
top: 2109px;
left: 821px;

opacity: 1;

}
.sale__subtitle-span{
    font-family: Circe;
font-weight: 700;
font-style: Bold;
font-size: 20px;

line-height: 147%;
letter-spacing: 0px;
color: #7F5AF0;
}
.sale__subtitle{
font-family: Circe;
font-weight: 400;
font-style: Regular;
font-size: 20px;
width: 427px;
line-height: 147%;
letter-spacing: 0px;
margin-top: 55px;

}

.sale__subtitle-span2{
font-family: Circe;
font-weight: 700;
font-style: Bold;
font-size: 20px;

line-height: 147%;
letter-spacing: 0px;
color:#2CB67D;
}
.sale__subtitle2{
font-family: Circe;
font-weight: 400;
font-style: Regular;
font-size: 20px;
margin-top: 54px;
line-height: 147%;
letter-spacing: 0px;
width: 444px;

}


/* simple */
.simple__wrapper {
    font-family: Circe;
}

.title__togotop{
    margin-top: 100px;
}

.text__wrapper{
    margin-top: 60px;
}


h3{
    font-size: 45px;
    font-weight: 700;
    font-family: Inter;
    line-height: 120%;
}

span{
    font-size: 45px;
    font-weight: 700;
    font-family: Inter;
    line-height: 120%;
    color: #2CB67D;
}

.wrapper{
    display: flex;
    justify-content: space-between;
}

.text__wrapper{
    display: flex;
    gap: 40px;
}


.img1{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 4px solid #2CB67D;
    background-color: #2CB67D;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    margin: 20px 0;
    font-family: Inter;
}


.img2{
    width: 64px;
    height: 64px;
    border-radius: 50%; 
    border: 4px solid #7F5AF0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-family: Inter;
    margin: 50px 0;
}


.img3{
    width: 64px;
    height: 64px;
    border-radius: 50%; 
    border: 4px solid #7F5AF0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-family: Inter;
    margin: 50px 0;
}


.title1{
    margin-top: 30px;
}


.title2{
    margin-top: 45px;
}

.title3{
    margin-top: 50px;
}

.paragraph{
    font-size: 20px;
    font-weight: 800;
    font-family: Inter;
}

.span1{
    font-size: 20px;
    font-weight: 800;
    font-family: Inter;
    color: #FFFFFF;
}


.img__wrapper{
    width: 600px;
    height: 350px;
    border-radius: 20px;
    border: 50px solid #191919;
    background-color: #191919;
    margin-top: 50px;
}


.img__container{
    width: 590px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:320px){
    .buttons{
        display: grid;
        grid-template-columns: auto ;
       
        gap: 20px;
    }
    .sale{
        display: inline;
    }
    .picture{
       width: 300px;
    }
    .sale__title{
        font-family: Inter;
font-weight: 500;
font-style: Medium;
font-size: 20px;

line-height: 135%;
letter-spacing: 3%;

    }
    .sale__subtitle{
        font-family: Circe;
font-weight: 700;
font-style: Bold;
font-size: 15px;

line-height: 157%;
letter-spacing: 0px;

    }
    .sale__subtitle2{
        font-family: Circe;
font-weight: 700;
font-style: Bold;
font-size: 15px;

line-height: 157%;
letter-spacing: 0px;

    }
    .block{
        display: block;
    }
}
